body {
    margin: 0;
    background: #eee;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.poster {
    width: 400px;
    height: 700px;
    background: #e5b85c;
    padding: 25px;
    padding-bottom: 180px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.titulo {
    margin-top: 20px;
    position: relative;
}

.signo {
    font-size: 45px;
    color: #7a3eb1;
    font-weight: bold;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
}

.signo-left {
    transform: rotate(-15deg);
}

.signo-right {
    transform: rotate(15deg);
}

.signo:hover {
    transform: scale(1.4) rotate(0deg);
    color: #ff4081;
}

.box {
    display: inline-block;
    padding: 12px 18px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.35s ease;
    box-shadow: 3px 5px 0px rgba(0,0,0,0.25);
}

.azul {
    background: #3ec1d3;
    color: white;
}

.blanco {
    background: white;
    color: black;
}

.morado {
    background: #7a3eb1;
    color: white;
}

.sede {
    transform: rotate(-4deg);
}

.te {
    transform: rotate(6deg);
    position: relative;
    top: 12px;
}

.acompana {
    transform: rotate(-2deg);
    position: relative;
    top: 5px;
}

.box:hover {
    transform: scale(1.25) rotate(0deg);
    box-shadow: 6px 10px 20px rgba(0,0,0,0.35);
}


.mensaje {
    margin-top: 60px;
}

.mensaje p {
    font-size: 18px;
    font-weight: 500;
}

.mensaje h2 {
    color: #7a3eb1;
    font-weight: 700;
}

.qr {
    margin-top: 50px;
}

.qr p {
    color: white;
    font-size: 14px;
}

.qr img {
    margin-top: 10px;
    border-radius: 5px;
}

.personas {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.personas img {
    width: 45%;
    transition: transform 0.3s ease;
}

.personas img:hover {
    transform: scale(1.05);
}